pip==9.0.3
setuptools==39.2.0
Werkzeug==1.0.0
pytest==5.4.1
flask==1.1.1
flask_accept==0.0.6
utils==1.0.1
redis==3.5.0
flask-login==0.5.0
flask_wtf==0.14.3
python-crontab==2.5.1
passlib==1.7.2
email-validator==1.1.1
gunicorn==20.0.4