{% extends "base_logged.html" %}

{% block content %}
    <h1>Update</h1>
    <h2>Personal information</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.group.label }}<br>
            {{ form.group(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>

    </form>
{% endblock %}